@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    background-color: #FAFAFA;
    border-bottom: 1px solid #E6E6E6;
    font-size: 14px;
    height: 44px;
    line-height: 44px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 0;
    padding: 0;
}

.navbar a {
    display: block;
    padding: 0 15px;
    color: #262626;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #F5F5F5;
}

.page {
    display: none;
}
